
.page-header {
    background-image: linear-gradient(90deg, #c3e3e3, #faba81);
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color:#009999;
}
.btn {
    color: rgb(255 255 255 / 76%);
    background-color: #846b5d;
}